#making-container {
    padding: 3px;
    width: 100%;
}

#making-title {
    font-family: 'Merriweather', serif;
    font-size: 2.2em;
    line-height: .78em;
}

#making-body {
    border: 3px solid white;
    padding: 1%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    width: 95%;
}