<div>
    <div id="resume-main">
        <div id="resume-left" class="resume-column">
            <div class="resume-right-container resume-container">
                <resume-skills></resume-skills>
            </div>
            <div class="resume-right-container resume-container">
                <resume-tech></resume-tech>
            </div>
            <div class="resume-right-container resume-container">
                <resume-hobbies></resume-hobbies>
            </div>
            <div id="resume-contact-div" class="resume-container">
                <resume-contact></resume-contact>
            </div>
        </div>
        <div id="resume-right" class="resume-column">
            <div class="resume-left-container resume-container">
                <resume-education></resume-education>
            </div>
            <div class="resume-left-container resume-container">
                <resume-projects></resume-projects>
            </div>
            <div class="resume-left-container resume-container">
                <resume-experience></resume-experience>
            </div>
        </div>
    </div>
<div>
<div id="resume-end-div" class="resume-container">
    <resume-contact></resume-contact>
</div>