/*
font-family: 'Courier Prime', monospace;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
*/

#resume-main {
    margin-top: 3%;
    width: 100%;
    font-family: 'Merriweather', serif;
}

.resume-column { 
    display: inline-flex;
    flex-direction: column;
}

.resume-container {
    margin: 0 0 4% 0;
}

.resume-left-container {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px) { 
    #resume-main {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        width: 90%;
    }
    #resume-left {
        width: 100%;
    }
    #resume-right {
        width: 100%;
    }
}

@media screen and (min-width:601px) {
    #resume-main {
        max-width: 1020px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -10px;
    }
    #resume-left {
        width: 32.5%;
        text-align: right;
    }
    #resume-right {
        width: 62.5%;
        padding-left: 3%;
    }
    .resume-right-container {
        padding-left: 30%;
    }
}

@media screen and (min-width:950px) {
    #resume-contact-div {
        display: block;
        border: 3px solid black;
        padding: 1.5%;
    }
    
    #resume-end-div {
        display: none;
    }
}

@media screen and (max-width:949px) {
    #resume-contact-div {
        display: none;
    }

    #resume-end-div {
        display: block;
    }
}