#hamburger-container{
    width: 100%;
}

#hamburger-box {
    display: block;
    width: 4em;
    height: 4em;
    padding-top: .5em;
    margin: 0 30% 0 auto;
}

.hamburger-row {
    display: block;
    height: .2em;
    width: 75%;
    margin: .5em auto;
    border: 2px solid black;
    background-color: black;
    box-shadow: 1px solid black;
}