.tech-subheading-main {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.tech-subheading-flourish {
    font-weight: 300;
    font-style: italic;
    font-size: 1.15em;
}

.tech-category {
    padding: 0 1.5%;
    margin-bottom: 4%;
    font-size: .9em;
}