/* You can add global styles to this file, and also import other style files */
body {
    background-color: #EAEAEA;
}
/*
font-family: 'Courier Prime', monospace;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
*/