#digging-container {
    padding: 3px;
}

#digging-title {
    font-family: 'Merriweather', serif;
    font-size: 2.2em;
    line-height: .78em;
}

#digging-container {
    width: 100%;
}

#digging-body {
    border: 3px solid black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    width: 97%;
}