<!--
  <header>
    <div id="index-redirect">
        <div class="lg_screen">
            <h1 class="lg_screen"><a routerLink='/'>Mary E. Perry</a></h1>
        </div>
        <div class="sm_screen">
            <h1><a routerLink='/'>M.E.P.</a></h1>
        </div>
    </div>
    <nav>
        <a routerLink='/projects'>Projects</a>
        <a routerLink='/resume'>Resume</a><br>
        <a routerLink='/writing'>Writing</a><br>
        <a routerLink='/visual'>Visual</a><br>
        <a routerLink='/about'>About</a>
    </nav>
    <div id="hamburger-nav">
        <nav-hamburger></nav-hamburger>
    </div>
</header>
-->
<header>
    <div id="flex-header">
        <div id="logo">
            <nav-logo></nav-logo>
        </div>
        <div id="nav-routes">
            <div id="routes-navbar">
                <nav-bar></nav-bar>
            </div>
            <div id="routes-hamburger">
                <nav-hamburger></nav-hamburger>
            </div>
        </div>
    </div>
<header>