<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 
      font-family: 'Courier Prime', monospace;
      font-family: 'Merriweather', serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Roboto Slab', serif;
      font-family: 'Rubik', sans-serif;
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab&family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>
<app-header></app-header>
<div id="universal-spacer"></div>
<div>
  <router-outlet> </router-outlet>
</div>