<div id="home-icon-container">
   <home-icons></home-icons>
</div>
 <div id="home-container">
     <div id="home-center-container">
      <div id="center-doing-div">
         <app-doing></app-doing>
      </div>
    </div>
    <div id="home-main-container">
      <div id="main-making-div" class="main-verb-div">
         <app-making></app-making>
      </div>
      <div id="main-using-div" class="main-verb-div">
         <app-using></app-using>
      </div>
      <div id="main-doing-div" class="main-verb-div">
         <app-doing></app-doing>
      </div>
      <div id="main-digging-div" class="main-verb-div">
      </div>
    </div>
 </div>
  <!-- 
      font-family: 'Courier Prime', monospace;
      font-family: 'Merriweather', serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Roboto Slab', serif;
      font-family: 'Rubik', sans-serif;
  -->