<div id="about-text">
    <div class="about-container about-section">
        <p>
            I'm interested in a lot of things. In particular, I'm driven to learn 
            about learning. That's why web application development is particularly
            interesting to me: there's quite a few ways to solve any given problem.
        </p>
    </div>
    <div id="about-me" class="about-container">
        <div class="about-title">About Me</div>
        <div class="about-section">
            <p>
                When I was a kid, my mother used to take me to the
                library at least once a week. I <i>loved</i> being at the library. From the time I met
                the local librarian and started to get book reccomendations from her, I 
                wanted to become a librarian. By the time I entered high school I was planning
                out my career, volunteering at the school library and asking every librarian I
                encountered what undergraduate major I should choose before entering an MLS program. 
                Most gave an answer that surprised me: computer information science. "You've 
                got to learn databases" was the takeaway; that's just the way things are going.
            </p>
            <p>
                My love for databases and data derailed those early career plans, at least for the
                moment. As I learned about normalization, DBMS and SQL, I started to think about data, 
                its organization and how it can be used to solve problems. The most interesting
                problems to me are still about mostly related to research: how can we sort through 
                massive amounts of data and information to find what is useful to us? How do we ask
                the right questions and know what will be useful to us? How is learning and research 
                changing in its inevitable proximity an ever-expanding internet?
            </p>
        </div>
    </div>
    <div id="about-site" class="about-container">
        <div class="about-title">Why I Made This Site</div>
        <div class="about-section">
            <p>
                Learning about software, systems and data has become a practice of actively
                engaging and considering these questions. It allows me to consider learning in a 
                deeper way than what I used to consider 'studying' and incorporate visual, experiencial 
                and technological aspects of learning by trial and error. 
            </p>
            <p>
                This website is designed to organize my projects and display snapshots my recent work and
                ongoing projects. I want to maintain a centralized location for the things I'm learning 
                about, so it will likely be redesigned frequently. Although my primary subject of study is 
                web application development and technology, I am also interested in visual art, design, 
                literature, philosophy, economics, history and music. I hope this page might spark 
                conversation and collaboration and invite you to contact me if anything you see speaks 
                to your interests.
            </p>
        </div>
    </div>
</div>